@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #black;
  --primary: #20C997;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #121826;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

a {
  text-decoration: underline;
}

a:hover{
  color: var(--primary);
}