@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #black;
  --primary: #20c997;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #121826;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

a {
  text-decoration: underline;
}

a:hover {
  color: var(--primary);
  text-decoration: none;
}

@keyframes genie-in {
  0% {
    transform: scaleY(1) scaleX(0) translateY(100%);
    opacity: 0;
    border-radius: 0.5rem 0.5rem 100% 100%;
  }
  100% {
    transform: scaleY(1) scaleX(1) translateY(0);
    opacity: 1;
    border-radius: 0.5rem;
  }
}

@keyframes genie-out {
  0% {
    transform: scaleY(1) scaleX(1) translateY(0);
    opacity: 1;
    border-radius: 0.5rem;
  }
  100% {
    transform: scaleY(1) scaleX(0) translateY(100%);
    opacity: 0;
    border-radius: 0.5rem 0.5rem 100% 100%;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@layer utilities {
  .animate-shimmer {
    animation: shimmer 2s infinite linear;
  }
}
