html,
body {
  padding: 10px;
  background-color: #e5e5e5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;

}
.header .left {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  column-gap: 10px;
}
.header .right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.header-icons {
  vertical-align: center;
  font-size: 25px;
}